/* HOME CONTENTS */


.hero-container {
   padding-top: 5rem;
   display: flex;
   flex-direction: row;
   height: 35rem;
   width: 100%;
   padding: 0 0rem 0 0rem;
   border-bottom: 0.08rem solid #000;
   justify-content: center;
   gap: 4rem;
}


.hero-img {
   flex: 1;
   display: flex;
   justify-content: right;
   overflow: hidden;
}




.hero-img img{
   width: 150%;
   height: 150%;
   object-fit: cover;
   object-position: 70% 20px;
}


.hero-about {
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex: 1;
}


.hero-about h1 {
   font-size: 6rem;
}


.selling-offers{
   padding: 2rem 1rem 0 1rem;
   background: #f9fbfc;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   border-bottom: 0.08rem solid #000;
}


.selling-offers h1{
   font-size: 3rem;
}


.selling-items{
   padding: 0 1rem 2rem 1rem;
   background: #f9fbfc;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1rem;


}


.selling-items h3 {
   font-family: 'oswald';
   font-size: 2rem;
   margin: 0 0 2rem;
}


.preview {
   flex: 1;
   text-align: center;
   padding: 0.5rem;
   min-width: 20rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


/* Update the image to have limits */
.preview img {
   width: 100%;      
   max-width: 20rem; 
   height: 20rem;    
   object-fit: cover;
}
