html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body{
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: #333;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif, Verdana, sans-serif
}
.browser-bar {
    background: #e0e0e0ec;
    padding: 12px 20px;
    align-items: center;
}
.header-container{
    padding: 20px 40px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-container h1{
    font-size: 49px;
}

.about-section{
    display: flex;
    flex-direction:row;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.img-container{ /*not used*/
    
}
.img-container img{
    width: 300px;
}

.header-text{
    padding-left: 50px;
    padding-right: 20px;
    border: 3px;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-text h3{
    font-size: 30px;
}